button,
select,
html,
textarea,
input {
    font-family: Roboto, "Helvetica Neue", sans-serif; }

.text-capitalize {
    text-transform: capitalize;
}

body {
    background: url('./img/background4.jpeg') no-repeat center top fixed;
    background-size: cover;
}