<div class="container-fluid">
    <h2>Home</h2>
    <form>
        <div class="form-group">
            <label >Project name</label>
            <input type="text" class="form-control" ng-model="$ctrl.projectName" placeholder="Project">
        </div>
    </form>
        <button class="btn btn-default" type="submit" ng-click="$ctrl.createProject()">Button</button>

    <div>
        <h4>Projects</h4>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="item in $ctrl.projectsList" ng-click="$ctrl.route(item.name)">{{item.name}}</li>
        </ul>
    </div>
</div>