<div class="container-fluid">
    <h2>Hello details!</h2>
    <div class="row">
        <div class="col-sm-6 col-md-12">
            <div class="thumbnail">
                <div class="caption">
                    <h3>{{$ctrl.card.title}}</h3>
                    <textarea class="form-control" rows="3" ng-model="$ctrl.detailsChanges"></textarea>
                </div>
                <button type="button" class="btn btn-success" ng-click="$ctrl.saveChanges()">Save</button>
            </div>
            <ui-gmap-google-map center='$ctrl.map.center' zoom='$ctrl.map.zoom' style="height: 400px"></ui-gmap-google-map>
        </div>
    </div>
</div>